body {
    background: #d2dce6;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
}

b {
    font-weight: 700;
}

.hidden {
    display: none;
}

.visible {
    display: unset;
}

#urn {
    background: #FFFFFF;

    width: 35rem;
    height: 20rem;

    border-radius: 0.7rem;
}

#urn .top-urn {
    display: flex;

    margin: 1rem 1rem;
}

#urn .top-urn .screen {
    background: #c7c6c6;

    width: 23rem;
    height: 13rem;

    margin-right: 1rem;
    padding: 0.5rem 0.5rem;

    border-radius: 1rem;
}

#urn .top-urn .screen .screen-vote h1 {
    font: 0.9rem Roboto, sans-serif;
    font-weight: 400;
    color: #353434;

    margin-left: 1.5rem;
    margin-top: 2.5rem;
}

#urn .top-urn .screen .screen-vote h2 {
    font: 1.2rem Roboto, sans-serif;
    font-weight: 700;
    color: #353434;

    margin-left: 1.5rem;
    margin-bottom: 1rem;
}

#urn .top-urn .screen .screen-vote .box {
    width: 2rem;
    height: 3rem;

    font: 3rem Roboto, sans-serif;
    padding-left: 0.5rem;

    border: 1px solid #000000;
    border-radius: 0.2rem;

    background: rgba(0, 0, 0, 0);
}

#urn .top-urn .screen .screen-vote input:first-of-type {
    margin-left: 1.5rem;
}

#urn .top-urn .screen #city-councilor {
    visibility: hidden;
}

#urn .top-urn .screen #city-councilor img {
    position: absolute;
    width: 6rem;
    height: 6rem;

    margin-top: -12.3rem;
    margin-left: 16.4rem;

    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#urn .top-urn .screen #mayor img {
    position: absolute;
    width: 6rem;
    height: 6rem;

    margin-top: -13.5rem;
    margin-left: 16.4rem;

    border-top-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
}

#urn .top-urn .screen .screen-vote .profile {
    margin-top: 0.2rem;
    margin-left: 1.5rem;
}

#urn .top-urn .screen .screen-vote .profile h3 {
    font: 1rem Roboto, sans-serif;
}

#urn .top-urn .screen .screen-end {
    display: none;
}

#urn .top-urn .screen .screen-end h1 {
    font: 10rem Roboto, sans-serif;
    font-weight: 700;

    margin-top: 1rem;
    margin-left: 2.5rem;
}

#urn .top-urn .inputs {
    background: #1c232e;

    width: 8.5rem;
    height: 13rem;

    border-radius: 1rem;

    padding: 0.5rem 0.5rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#urn .top-urn .inputs button {
    background: #2d3544;

    font: 0.9rem Roboto, sans-serif;
    color: #FFFFFF;
    
    border: 0;
    border-radius: 0.5rem;
    outline: none;
    
    width: 2.5rem;
    height: 3rem;

    transition: 0.2s;
    cursor: pointer;
}

#urn .top-urn .inputs button:active {
    opacity: 0.7;
}

#urn .confirm-buttons {
    text-align: right;
}

#urn .confirm-buttons input {
    border: 0;
    border-radius: 0.3rem;
    outline: none;

    font: 0.9rem Roboto, sans-serif;
    font-weight: 700;

    width: 6rem;
    height: 3rem;

    box-shadow: -1px 2px 5px rgba(0, 0, 0, 0.25);

    cursor: pointer;
}

#urn .confirm-buttons input:active {
    opacity: 0.7;
}

#urn .confirm-buttons .corrects {
    background: #EE9A00;
}

#urn .confirm-buttons .confirm {
    background: #06a006;

    margin-right: 1rem;
}
